.video-wrapper {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
}


.custon-alert {
    transition: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}